*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:DancingScript;
    src: url(/assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf)
    
}

body{
    /**Degradado*/
    background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cajero-main{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 5vh;
    margin: 0 auto;
    margin-top: 5vh;
    background-color: #fff;
    width: 75vh;
    max-width: 100vh;
    border-radius: 5px;
    /**shadow-box:*/
}

.cajero-main li{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 2vh;
    border: solid 1px;
    border-radius: 5px;
    margin-top: 1vh;
    background-color: grey;
    
}


.cajero-main a{
    text-decoration: none;
    color: #fff;
}

.cajero-main h1{
    font-family: DancingScript;
    font-size: 5vh;
     
}

.cajero-main p{
    margin-top: 5vh;
}