*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:DancingScript;
    src: url(/assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf)
    
}

body{
    /**Degradado*/
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
    font-family: DancingScript, Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 5vh;
    margin: 0 auto;
    margin-top: 5vh;
    background-color: #fff;
    width: 75vh;
    max-width: 100vh;
    border-radius: 5px;
}